{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">

    <script src="{% static 'js/activity.js' %}"></script>
    <title>Main page</title>
</head>
<body>
это главная страница. Здравствуй, {{ user.username }}


<button id="button">button</button>

</body>
</html>